.xp{
    display: inline;
    margin-left: 20px;
    font-size: 15px;
}

.niveaux{
    display: inline;
    
}

.footerBtn{
    width:90%;
}

.shop_level{
    border-radius: 20px;
    height: 100px;
    box-shadow: 0px 10px 13px -7px #000000;
    text-align: center;
}

.shop_title_level{
    font-size: 25px;
}